input {
    width: 65rem;
    padding: 1.5rem 1rem;
    height: 5rem;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    background-color: var(--gray-300);
    font-size: 15px;
    color: #fff;
}
